#navbar-custom
{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}
#brand-text
{  
    font-family: 'Pacifico',cursive;
    color:#f4f6f8;
    font-size: 50px;
}
#slider{
    background-color: #000000;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(56, 65, 170)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* .carousel-item{
    height: 450px;
  } */
  .card {
    width:25rem;
    height: 2rem;
    margin: 1.5rem;
} 
.nav-link
{
  color: #9ba1a5;
  font-weight: 900;
  
}
.nav-link:hover
{
  color: #3841aa;
  border-width: 0 0 2px;
    border-style: solid;
  
}
#home
{
  color: #3841aa;
}
.form-control
{
  border-radius: 25px;
  color: #000000;
  border-color: inherit;

}
input[type="search"]{

  background-image : linear-gradient(#1b237d,rgb(32, 15, 82));
  
}
.btn-link
{
  margin-top: 0%;
}
  .card:hover{
    cursor: pointer;
  }
  section{
    background-color: #161718;
  }
  div{
    margin-bottom: 1rem;
  }
